src/StatLight.Core/Resources/XmlReportSchema.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="exceptionInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string" />
                <xs:element name="stackTrace" type="xs:string" />
                <xs:element ref="innerExceptionInfo" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="innerExceptionInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string" />
                <xs:element name="stackTrace" type="xs:string" />
                <xs:element ref="innerExceptionInfo" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="StatLightTestResults">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tests">
                  <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="test">
                            <xs:complexType>
                                <xs:sequence minOccurs="0">
                                    <xs:element minOccurs="0" name="exceptionInfo" />
                                    <xs:element minOccurs="0" name="otherInfo" type="xs:string" />
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string" use="required" />
                                <xs:attribute name="resulttype" type="xs:string" use="required" />
                                <xs:attribute name="timeToComplete" type="xs:time" use="required" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="xapFileName" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="total" type="xs:integer" use="required" />
            <xs:attribute name="ignored" type="xs:integer" use="required" />
            <xs:attribute name="failed" type="xs:integer" use="required" />
            <xs:attribute name="dateRun" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>
